body {
  background-color: #212429;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.calculator {
  width: 45vh;
  height: 75vh;
  background-color: black;
  border-radius: 30px;
  border: 2px solid white;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display {
  all: unset;
  width: 80%;
  height: 23vh;
  color: white;
  font-size: 3rem;
  text-align: end;
}
.buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.button {
  border: none;
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  font-size: 3vh;
  margin: 10px 15px;
  color: white;
}
.button_zero {
  grid-column: 1/4;
  background-color: #313131;
}

.button_number {
  background-color: #313131;
}
.button_operator,
.button_equal {
  background-color: #f69a05;
}
.button_clear,
.button_delete,
.button_point {
  background-color: #a0a0a0;
  color: black;
}
@media (max-width: 375px) {
  .calculator {
    width: 38vh;
    height: 72vh;
  }
  .button {
    margin: 7px;
  }
}
